<h1 class="title">ToDo List</h1>
<p>
<h2 class="subtitle">
  A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
</h2>
<table class="table is-fullwidth is-hoverable is-responsive">
  <thead>
    <tr>
      <th class="has-text-centered">postId</th>
      <th>id</th>
      <th>name</th>
      <th class="has-text-right">email</th>
      <th>body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments; let i = index" (click)="isSelected(i)" [class.is-selected]="i == rowSelected">
      <td>{{comment.postId}}</td>
      <td>{{comment.id}}</td>
      <td>{{comment.name}}</td>
      <td>{{comment.email}}</td>
      <td>{{comment.body}}</td>
    </tr>
  </tbody>
</table>
