<!-- HEADER -->
<title>Playground</title>
<eba-header #header [model]="headerModel"></eba-header>

  <!-- BREADCRUMB -->
  <div class="container is-fluid">
    <div class="notification">
      <eba-breadcrumb #breadcrumb></eba-breadcrumb>
    </div>
  </div>
<div class="container is-fluid">
  <div class="notification">
      <!-- APP -->
      <router-outlet></router-outlet>
  </div>
</div>
<div class="container is-fluid">
  <div class="notification">
      <!-- TOAST -->
      <eba-notification></eba-notification>
  </div>
</div>

<!-- FOOTER -->
<eba-footer></eba-footer>
