<table #table class="table" [ngClass]="model?.modifier | resolverAsArray : modifierResolver">
  <thead>
    <tr>
      <th *ngFor="let header of headers; trackBy: trackByFn; let headerIndex = index" [ngClass]="elementAlignment.getValue(header?.alignment)">
        <span *ngIf="positionResolver.isLeft(header.icon?.position)" class="icon is-small">
          <i [ngClass]="header.icon[headerIndex].icon" aria-hidden="true"></i>
        </span>
        {{header.header}}
        <span *ngIf="positionResolver.isRight(header.icon?.position)" class="icon is-small">
          <i [ngClass]="header.icon?.icon" aria-hidden="true"></i>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows; trackBy: trackByFn; let rowIndex = index"
        (click)="isSelected(rowIndex);"
        [class.is-selected]="rowIndex == rowSelected"
        >
      <td *ngFor="let field of row; trackBy: trackByFn;let columnIndex = index" [ngClass]="getElementStyle(columnIndex,  row)">
        <eba-factory-wrapper *ngIf="isFieldAnObject(field.cell)" #factoryWrapperComponent [components]="field.cell"></eba-factory-wrapper>
        <div *ngIf="!isFieldAnObject(field.cell)">{{field.cell}}</div>
      </td>
    </tr>
  </tbody>
</table>
